body{border-color:#ffffff;
border-width:10%;
border-style: solid;}
header{	
		width:100%;
		height:200px;
		font-size:30px;
		}
input[type=submit]{border:2px solid orange;
border-radius: 50%;
width:60px;
height:30px;
font-size:14px}
input[type=submit]:hover{background-color:orange;
color:#ffffff}
section{
	width:100%;
	height:700px;}
nav{
	width:20%;
	height:100%;
	background-color:#ffffff;
	float:right
	}
article.left{
	width:47%;
	height:100%;
	float:left;
	}
article.right{
	width:47%;
	height:100%;
	float:right;
	}
	
div.one{width:40%;
	height:100%;background-color:#ffffff;float:left}
div.two{width:60%;
	height:100%;background-color:#ffffff;float:right;font-size:18px}
.black{width:100%;
	height:20px; border: 2px solid black;
    border-radius: 12px;
	background-color:black;}
.black2{width:100%;
	height:20px; border: 2px solid black;
    border-radius: 12px;}
.blanc{width:100%;
	height:40px;border-color:black;
border-width:2px;
border-style: solid;
background-color:black;}
	
a{text-decoration:none;color:black}
.menu{}	
		